{% extends "layout.html.twig" %}

{% block title %}Twig - Assignment #4 - Contact{% endblock %}

{% block content %}
    <form action="#" method="post">
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
    </form>
{% endblock %}
